.Group5 {
    top: 15vh;
    position: relative;
    z-index: 5;
    display: block;
    align-items: center;
    justify-content: space-between;
    /*padding-bottom: 20px;*/
}

.Title {
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.MainDashboard {
    position: relative;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

.MainDashboard {
    top: 0;
    color: white;
    font-size: 7vh;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    line-height: 10vh;
}

.WelcomeUser {
    color: white;
    font-size: 4vh;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    line-height: 6vh;
}

.Buttons {
    margin-top: 7vh;
    z-index: 5;
    /*margin-right: auto ;*/
    margin-left: 37vh;
    width: 60%;
    font-family: 'Inter', sans-serif;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Vertically center items */
}

.ButtonLinks {
    text-decoration: none;
    width: 35vh;
    display: block;
    color: black;
    margin-right: 5%;
    text-align: center; /* Center the text */
    /*margin: 0 auto; !* Center the link blocks *!*/

}

.ButtonBox {
    height: 45vh;
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.ButtonBox:hover {
    background: #D9D9D9;
    cursor: pointer;
    transform: scale(1.05); /* Increase the size by 5% on hover */
}

.button-img {
    position: absolute;
    /*margin-left:30%;*/
    height: 10vh;
    margin-top: -25vh;
}

.ButtonDescription {
    position: absolute;
    width: 25vh;
    text-align: center;
    word-wrap: break-word;
    margin-top: 25vh;
    font-size: 2vh;
    color: #424242;
    /*z-index: 5;*/

}

.btn-title {
    position: relative;
    margin-top: 3vh;
    font-family: revert;
    font-size: 4vh;
    text-align: center;
    font-weight: 900;
}