# example .env file for locally running the app
# copy this file to .env.local and fill in the values

# The database URI to connect to
# For SQLite:
FLASK_SQLALCHEMY_DATABASE_URI = sqlite:///climate.db
# For PostgreSQL running in Docker (but Flask not):
FLASK_SQLALCHEMY_DATABASE_URI = postgresql://postgres:some_password_here@localhost:5432/climate

# Standard SQLAlchemy settings
FLASK_SQLALCHEMY_ECHO = True
FLASK_SQLALCHEMY_TRACK_MODIFICATIONS = False

# The secret key for Flask
FLASK_SECRET_KEY = put_a_secret_key_here

# Recaptcha keys
FLASK_RECAPTCHA_PUBLIC_KEY =
FLASK_RECAPTCHA_PRIVATE_KEY =

# Should 2FA be bypassed?
FLASK_BYPASS_2FA = False

# Should Recaptcha be bypassed?
FLASK_BYPASS_RECAPTCHA = True