werkzeug==2.3.7
Flask
flask_sqlalchemy
flask_login
flask_wtf
WTForms
flask-qrcode
pyotp
python-dotenv
email-validator
markupsafe
cryptography
sqlalchemy
bcrypt
psycopg2
pytest-html
pytest-cov
genbadge[all]