
{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/error_style.css') }}">
{% endblock %}
{% block content %}
    <div class="msgBox">
        <h2 class="title is-2">Error 503 - Service Unavailable</h2>
        <img class="error-image" src="{{ url_for('static', filename='error-tree.png') }}" alt="Placeholder Image">
        <p>The server is currently unable to handle your request.</p>
        <p>This may be due to temporary overloading or server maintenance.</p>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/503" target="_blank">Learn more about the 503 Service Unavailable error</a>
    </div>
{% endblock %}
